info:
  description: Terminal API server for ChatGPT
  title: ChatGPT local terminal
  version: v1
openapi: 3.0.1
paths:
  /api/runTerminalScript:
    post:
      description: This endpoint allows users to execute arbitrary shell commands, use it only after checking listCommands to check if appropriate command was created before
      operationId: runTerminalScript
      requestBody:
        content:
          application/json:
            schema:
              properties:
                command:
                  description: The shell command to execute.
                  type: string
              required:
                - command
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: A message indicating the success of the command execution.
                    type: string
                  output:
                    description: The output of the executed command.
                    type: string
                type: object
          description: Command executed successfully.
        '400':
          description: Bad request (e.g., missing command parameter).
        '500':
          description: Internal server error (e.g., error executing command).
      summary: Execute a shell command - from git commands to running code, listing
        files, or anything else that's possible to do through a shell command.
  /api/executeJavaScript:
    post:
      description: Run arbitrary JavaScript in chat or in webpage. Use it to interact with web pages. Ensure responses are wrapped in `JSON.stringify()` or you'll get `[object Object]`. Enclose JavaScript in an anonymous self-calling function to prevent variable conflicts
      operationId: runJavaScript
      requestBody:
        content:
          application/json:
            schema:
              properties:
                code:
                  description: JavaScript code as single line string.
                  type: string
                target:
                  description: Target where the JavaScript should be executed. Can be 'chat' or 'webpage'.
                  type: string
                  enum:
                    - chat
                    - webpage
              required:
                - code
                - target
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  message:
                    description: A message indicating the success of the code execution.
                    type: string
                  output:
                    description: The console output of the executed javascript or encountered errors.
                    type: string
                type: object
          description: Code executed successfully.
        '400':
          description: Bad request (e.g., missing command parameter or invalid target value).
        '500':
          description: Internal server error (e.g., error executing command).
      summary: Execute any JavaScript code either in the chat or on the current web page using Electron webContents.executeJavaScript or equivalent.
  /api/saveCommand:
    post:
      description: Save last run command for later reuse, provide name and description. Name should be short command like. Description should contain when this command should be used later
      operationId: saveLastCommand
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: Name of the command.
                  type: string
                description:
                  description: Description of what the command does and when it should be used
                  type: string
              required:
              - name
              - description
              type: object
        required: true
      responses:
        200:
          description: Command saved successfully.
        400:
          description: Bad request.
        500:
          description: Internal server error.
  /api/getSentenceVectors:
    post:
      description: This endpoint allows users to convert text into sentences and obtain vectors for each sentence.
      operationId: getSentenceVectors
      requestBody:
        content:
          application/json:
            schema:
              properties:
                text:
                  description: The text to be split into sentences and classified.
                  type: string
              required:
                - text
              type: object
        required: true
      responses:
        200:
          description: Successfully processed the text and returned sentence vectors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    sentence:
                      type: string
                    vector:
                      type: object
        400:
          description: Bad request (e.g., missing text parameter).
        500:
          description: Internal server error (e.g., error processing the text).
  /api/interrupt:
    post:
      description: This endpoint allows users to send a SIGINT signal to interrupt any currently running terminal command.
      operationId: interruptCommand
      responses:
        200:
          description: Command interrupted successfully.
        405:
          description: Method not allowed. Please use POST.
      summary: Interrupts a running terminal command.
servers:
  - url: https://chatgpt-server-commander.loca.lt

